@{
    ViewBag.Title = "About";
}
<body background="\img\Prueba.png" style="width:100%; height:100%; background-size: cover;">
    <div class="row col-md-12">
        <div class="container col-md-4" style="background-color: white; border-radius: 10px 10px; ">

            <div class=" text-center">
                <h2>Acerca de Nosotros</h2>
                <br />

                <address>
                    <strong>
                        Misión:
                        <br />
                        <br />
                        Somos una empresa de Seguros transparente, confiable y con enfoque social, que ofrece tranquilidad a nuestros clientes resguardando su patrimonio.
                    </strong>
                    <br />
                    <br />
                    <br />
                    <strong>
                        Visión:
                        <br />
                        <br />
                        Ser una empresa diferenciada por su servicio y agilidad, enfocada en segmentos de negocios sostenibles.

                    </strong>
                    <br />
                    <br />
                    <br />
                    </address>
                    <h4>Audio:</h4>
                    <br />
                    <audio controls="controls">
                        <source src="~/img/Audio2.mp3" type="audio/mpeg" />
                    </audio>
</div>
        </div>
        <div class="container col-md-6" style="background-color: white; border-radius: 10px 10px;">
            <div class=" text-center">
                <h4>Video:</h4>
                <br />
                <iframe width="400" height="400" style="padding-bottom:20px" src="https://www.youtube.com/embed/ijermdNk0y0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <br />

            </div>
        </div>
    </div>
</body>
