@{
    ViewBag.Title = "About";
}
<body background="\img\Prueba.png" style="width:100%; height:100%; background-size: cover;">
    <div class="row">
        <div class="container justify-content-center" style="height: 700px; width: 300px; background-color: white; border-radius: 10px 10px; margin-left:500px ">

            <div class=" text-center">
                <h2>Acerca de Nosotros</h2>
                <br />
            </div>
            <address>
                <strong>
                    Misión:
                    <br />
                    <br />
                    Somos una empresa de Seguros transparente, confiable y con enfoque social, que ofrece tranquilidad a nuestros clientes resguardando su patrimonio.
                </strong>
                <br />
                <br />
                <br />
                <strong>
                    Visión:
                    <br />
                    <br />
                    Ser una empresa diferenciada por su servicio y agilidad, enfocada en segmentos de negocios sostenibles.

                </strong>
                <br />
                <br />
                <br />


                <strong>
                    Principios básicos:
                    <br />
                    <br />
                    Trato igualitario, no discriminatorio y tolerante.<br />
                    Responsabilidad, eficiencia y diligencia.<br />
                    Respeto.<br />
                    Lealtad.<br />
                    Honestidad.<br />
                    Equidad.<br />
                    Confidencialidad.<br />
                    Ser innovadores.<br />
                </strong>
            </address>

        </div>
        <div class="container justify-content-center" style="height: 700px; width: 500px; background-color: white; border-radius: 10px 10px; margin-right:500px ">
            <div class=" text-center">
                <h2>Video:</h2>
                <br />
                <iframe width="400" height="400" src="https://www.youtube.com/embed/ijermdNk0y0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <br />
                <h2>Audio:</h2>
                <br />
                <audio controls="controls">
                    <source src="~/img/Audio2.mp3" type="audio/mpeg" />
                </audio>
            </div>
        </div>
    </div>
</body>
