@{
    ViewBag.Title = "Contact";
}


<body background="\img\Prueba.png" style="width:100%; height:100%; background-size: cover;">
    <div class="row col-md-12">
        <div class="container col-md-4" style="background-color: white; border-radius: 10px 10px; ">

            <div class=" text-center">
                <h2>Contáctenos</h2>
                <br />

                <address>
                    <strong>
                        El Equipo del Siglo XXI<br />
                        Costa Rica, San José<br />
                        2416-3541
                    </strong>
                </address>
            </div>
            <address>
                <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
                <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
            </address>
            <audio controls="controls">
                <source src="~/img/Audio.mp3" type="audio/mpeg" />
            </audio>
        </div>
        <div class="container col-md-6" style="background-color: white; border-radius: 10px 10px;">
            <div class=" text-center">
                <h4>Video:</h4>
                <br />
                <iframe width="300" height="300" src="https://www.youtube.com/embed/a1KUiMv0BDk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <br />
                <h4>Audio:</h4>
                <br />
                    
            </div>
        </div>
    </div>
</body>