@model proyecto.Models.Adiciones
@{
    ViewBag.Title = "Adicciones";
}
<div class="container">
    <div class="row">
        <div class="table-responsive">
            <table class="table caption-top table-sm">
                <thead>
                    <tr>
                        <th scope="col">Codigo</th>
                        <th scope="col">Nombre</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in ViewBag.AdiccionesU)
                    {
                        <tr>
                            <td>@item.Codigo)</td>
                            <td>@item.Nombre</td>
                            <td class="actions">
                                <button class="btn btn-danger btn-sm" type="button" id="@item.idAdicion" onClick="DeleteElement(id)">Eliminar</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>


    </div>
</div>

<script type="text/javascript">
    function DeleteElement(val) {
        debugger;
        let url = '/Clientes/EliminarAdiccion?idAdicion=' + val +  '&idCliente=' + '@Session["usuario"]';
        location.href = url;
    }</script>
